extends ../shared/layout

block main-content
  h2 Settings
  div  Username: #{currentUser.username}
  div  Email: #{currentUser.email}
  div  Send episode recommendations to 
    - mailto = 'mailto:post+'+currentUser.postTag+'@echopig.com'
    a(href=mailto) post+#{currentUser.postTag}@echopig.com
    span 
    a(href='/vcard') (add to contacts)
  div
    - profile = '/u/'+currentUser.username
    a(href=profile) See your posts
  if (!currentUser.twitter)
    div
      a.btn.btn-twitter.btn-social(href='/auth/twitter') Sign in with Twitter