extends ../shared/layout

block main-content
  h1 Settings
  p  Username: #{currentUser.username}
  p  Email: #{currentUser.email}
  p  Send episode recommendations to 
    a(href='mailto:post+#{currentUser.postTag}@echopig.com') post+#{currentUser.postTag}@echopig.com
    span 
    a(href='/postepvcard') (add to contacts)
  - posts = '/u/'+currentUser.username
  p
    a(href=posts) See your posts
