extends ../shared/layout

block main-content
  div.row.pt-4
    div.col-md
      img.float-right.rounded.w-100.h100(
        src=episode.podcast.artworkUrl600
        )
    div.col-md.px-1.pt-2
      .h3 !{episode.title}
      if episode.podcast.title
        div 
          a(href=`/p/i${episode.podcast.iTunesID}`) !{episode.podcast.title}
      if episode.releaseDate
        div.small.font-weight-lighter.pt-1.pb-2 Published 
          =relativeTime(episode.releaseDate)
      div.small !{episode.description}
      div.small.font-weight-light.pt-2 🐽 #{episode.posts.length} 
      div.pb-4
      div.d-block
        audio.w-100.pr-3(controls src=episode.mp3URL)
  