extends shared/layout
block main-content
  .row.mt-4.justify-content-md-center
    .pl-0
      a.h4(href='/episodes') Hot Episodes
      .row.equal-height.mt-3
        each episode in episodes
          .col-12.col-sm-5.col-md-4.col-lg-3
            .card.mx-0.mb-4
              a(href=`/e/${episode.id}`)
                img.card-img-top.img-fluid.border-bottom(
                    src=episode.image || episode.podcast.artworkUrl600 || episode.podcast.artworkUrl100 || ''
                  )
              .card-body
                a.card-text(href=`/p/i${episode.podcast.iTunesID}`) !{episode.podcast.title}
                .h5.mb-0
                  a(href=`/e/${episode.id}`) !{episode.title}
              .card-footer
                .d-flex
                  .w-100
                    if (episode.releaseDate)
                      .small.font-weight-lighter Published #{relativeTime(episode.releaseDate)}
                  .flex-shrink-0.small.font-weight-light.text-right 🐽 #{episode.posts.length}
  .row.mt-4.justify-content-md-center    
    .pl-0
      a.h4(href='/podcasts') Hot Podcasts
      .row.equal-height.mt-3
        each podcast in podcasts
          .col-12.col-sm-5.col-md-4.col-lg-3
            .card.mx-0.mb-4
              a(href=`/p/i${podcast.iTunesID}`)
                img.card-img-top.img-fluid.border-bottom(
                    src=podcast.artworkUrl600 || podcast.artworkUrl100 || ''
                  )
              .card-body
                a.card-title.h5(href=`/p/i${podcast.iTunesID}`) !{podcast.title}
                if podcast.author
                  div.card-text.text-muted By #{podcast.author}
              .card-footer
                .d-flex
                  .w-100
                    each genre in podcast.genres
                      if (genre !== 'Podcasts')
                        a.small(href=`/g/${genre.toLowerCase()}`)= `#${genre.toLowerCase()} `
                  .flex-shrink-0.small.font-weight-light.mt-auto 🐽 #{podcast.posts}
