extends ../shared/layout

block main-content
  if episodes.length > 0
    .w-100.py-4
      .h4 Top Posts
      ul
      each episode in episodes
        li.media.border-top.py-3
          if (episode.image !== undefined)
            img.rounded.w-25(
              src=episode.image
              height="auto"
            )
          else
            img.rounded.w-25.h100(
              src=episode.podcast.artworkUrl600
              height="auto"
            )
          div.pl-3.media-body 
            div
              a(href=`/p/i${episode.podcast.iTunesID}`) !{episode.podcast.title}
            div.h5.mb-0
              a(href=`/e/${episode.id}`) !{episode.title}
            div.small.font-weight-lighter.pt-1.pb-2 Published #{relativeTime(episode.releaseDate)}
            div.small !{episode.description}
            div.small.font-weight-light.pt-2 🐽 #{episode.posts.length} 