extends ../shared/layout

block main-content
  div.row.pt-4
    div.col-md
      if (podcast.artworkUrl600 !== undefined)
        img.float-right.rounded.w-100.h-100(
          src=podcast.artworkUrl600
        )
      else
        div.w-100
          a.float-right.h1(href=`/p/i${podcast.iTunesID}/update`) 🔃
    div.col-md.px-0.pt-3
      .h3 !{podcast.title}
      if podcast.author
        div.small By #{podcast.author}
      div.pt-2 Episodes Posted: #{episodes.length}
      div
        a(href=podcast.feedUrl) RSS feed
  if episodes.length > 0
    ul
    each episode in episodes
      li.media.border-top.py-3
        if (episode.image !== undefined)
          img.rounded.w-25(
            src=episode.image
            height="auto"
          )
        else
          div.w-25
        div.media-body 
          div.h5.mb-0
            a(href=`/e/${episode.id}`) !{episode.title}
          div.small.font-weight-lighter.pt-1.pb-2 Published #{relativeTime(episode.releaseDate)}
          div.small !{episode.description}
          div.small.font-weight-light.pt-2 🐽 #{episode.posts.length}