extends ../shared/layout

block main-content
  if podcasts.length > 0
    .row.py-4
      .h4 Hot Podcasts
      .pl-0
        .row.equal-height
          each podcast, index in podcasts
            .col-12.col-sm-5.col-md-4.col-lg-3
              .card.mx-0.mb-4
                img.card-img-top.img-fluid(
                    src=podcast.artworkUrl600 || podcast.artworkUrl100 || ''
                  )
                .card-body
                  .card-title
                    a.h5(href=`/p/i${podcast.iTunesID}`) !{podcast.title}
                  if podcast.author
                    .card-subtitle.text-muted By #{podcast.author}
                .card-footer
                  .d-flex
                    .w-100
                      each genre in podcast.genres
                        if (genre !== 'Podcasts')
                          a.small(href=`/g/${genre.toLowerCase()}`)= `#${genre.toLowerCase()} `
                    .flex-shrink-0.small.font-weight-light.mt-auto 🐽 #{podcast.posts}
                       
