extends ../shared/layout

block main-content
  h3 #{profiledUser.username}
  p User since: #{relativeTime(profiledUser.createdAt)}
  p Posts: #{profiledUser.posts.length}
  p
    a(href=`/rss/${profiledUser.normalizedUsername}`) RSS feed
  if profiledUser.posts.length > 0
    .table-responsive
      table.table
        thead
          tr.no-gutters
            th.border-top-0.col-10.lead Episode
            th.border-top-0.col-2.lead Posted
        tbody
          each post in profiledUser.posts
            tr.no-gutters
              td.col-10.border-0
                strong: a(href=post.episode.mp3URL) !{post.episode.title}
                strong: span  - 
                strong: span !{post.episode.podcast.title}
              td.col-2.border-0= relativeTime(post.updatedAt)
            tr.border-bottom.pb-3
              td.col-10.border-0.pt-0.pl-0.pr-5 !{post.episode.description}
              td.col-10.border-0.pt-0 